<!-- editor pad start-->
<div *ngIf="element" class="editor-pad">
  <div class="constainer">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

      <!-- <form role="form"> -->
        <h4>Resource</h4>
        <div class="form-group">
          <label for="resName">Name</label>
          <input #nameInput="ngModel" [(ngModel)]="element.name" type="text" class="form-control" id="resName" placeholder="e.g. Little Prince" >
        </div>

        <div class="form-group">
          <label for="resDescription">Description</label>
          <textarea [(ngModel)]="element.content" class="form-control" id="resDescription" rows="15" placeholder="Some words"></textarea>
        </div>

        <button class="btn btn-default" (click)="save()">Save</button>
        <button class="btn btn-default" (click)="clear()">Clear</button>
        <button class="btn btn-default" (click)="quitEdit()">Cancel</button>
      <!-- </form> -->

      </div>
    </div>
  </div>
</div>
